<%- include('../admin/layouts/header.ejs') %>
<%- include('../admin/layouts/sidebar.ejs') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <div class="content">

      <!-- /.card -->

      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h3 class="card-title" style="line-height: 40px;">Edit student</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
         
            <form action="/complaintupdate/<%= c._id %>" method="post" enctype="multipart/form-data">

                <div class="form-group">
                  <label>Complaint Type</label>
                  <input type="text" value="<%= c.ctype %>" name="ctype" class="form-control" required>
                </div>
  
                <div class="form-group">
                  <label>Semester</label>
                  <input type="text" value="<%= c.semester %>" name="semester" class="form-control" required>
                </div>
  
                <div class="form-group">
                  <label>Subject/Title</label>
                  <input type="text" value="<%= c.subject %>" name="subject" class="form-control" required>
                </div>

                <div class="form-group">
                  <label>Complaint Detail</label>
                  <input type="text" value="<%= c.cdetail %>" name="cdetail" class="form-control" required>
                </div>


                <div class="form-group">
                  <label>Image</label>
                  <input type="file" name="image" class="form-control" required>
                </div>
                <br><br>
                <img src="<%= c.image.url %>" alt="" width="50" style="border-radius: 20px;">
                <button class="btn btn-success" type="Submit">Update</button>
               </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!--modal start-->
      <!--modal end -->

      <!-- /.card -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <%- include('../admin/layouts/footer.ejs') %>